@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Special+Elite&display=swap');


:root {
  --color1: hsl(28, 84%, 98%);
  --color2: hsl(14, 49%, 10%);
  --color3: hsl(11, 73%, 20%);
  --color4: hsl(16, 44%, 55%);
  --color5: hsl(16, 68%, 33%);
  --scale1: 1.1;

}

* {
  margin: 0;
  padding: 0;
  scrollbar-color: var(--color1) var(--color1);
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 200%;
  background-color: var(--color1);
  color: var(--color2);
  font-family: "Italiana", sans-serif;
  transition: background-color 200ms;
  overflow: hidden;
  justify-content: center;
  opacity: 1;
  overflow-y: scroll;
  transition: opacity 1s;
}

html {
  height: 100vh !important;
  overflow: hidden;
}

.footer {
  height: 45px;
  width: 100vw;
  background-color: var(--color2);
  position: fixed;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  translate: 0 45px;
  transition: 1000ms;
}

.show-footer {
  translate: 0 0;
}

.icons-container {
  display: inline-flex;
  margin-right: 10px;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: var(--color1);
  border-radius: 50%;
  padding: 3px;
  margin-left: 10px;
  transition: 300ms;
  cursor: pointer;
}

.footer-icons:hover {
  scale: 1.1;
}

.library-cards-container {
  /* position:relative; */
  width: 100vw;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 60px;
  transition: all 1000ms;
  
  transition-behavior: allow-discrete;
}

.card {
  position: relative;
  left:0;
  top:0;
  height: 220px;
  display: flex;
  align-items: flex-end;
  width: 150px;
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142));
  opacity: 0;
  transition: opacity 1000ms;

}

.thumbnail {
  height: 200px;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 130px;
  object-fit: cover;
  transition: 500ms
}

.thumbnail:hover,
.other-titles-img:hover {
  scale: var(--scale1);
}

.card-icons-container:has(.card-icon:nth-of-type(1):hover) {
  scale: 1.1;
}

.card-icons-container:has(.card-icon:nth-of-type(2):hover) {
  scale: 1.1;
}

.card-icons-container:has(.card-icon:nth-of-type(3):hover) {
  scale: 1.1;
}

.card-icons-container:has(.card-icon:nth-of-type(4):hover) {
  scale: 1.1;
}

.replacement-image {
  display: none;
  grid-template-rows: 1fr;
  flex-wrap: wrap;
  background-color: var(--color2);
  height: 200px;
  width: 114px;
  margin: 0 10px 0 0;
  color: var(--color1);
  border-radius: 0.3rem;
  padding-right: 1rem;
  align-items: flex-end;
  position: relative;
  border: 0.7px, solid, var(--color2);
  transition: 500ms;
}

.replacement-image+div {
  translate: -15px -10px;
}

.replacement-image:hover {
  scale: 1.1;
}

.replacement-title {
  text-transform: uppercase;
  font-family: italiana, serif;
  font-weight: bolder;
  font-size: larger;
  align-self: self-end;
  width: 120px;
  padding: 0 0 0 10px;
  word-break: break-word;
  margin: 0 0 0 0;
}

.replacement-author {
  align-self: self-start;
  padding: 0 0.5rem 0 0.5rem;
  padding: 0 0px 20px 10px;
  margin: 0 0 30px;
  font-size: 0.8rem;
  font-family: arial;
}

.card-icons-container {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
  gap: 8px;
  margin: 0px 0 20px 0px;
  top: 0;
  left: -30px;
  translate: -5px -10px;
  justify-content: end;
  transition: 300ms;
}

.card:hover>.card-icons-container {
  opacity: 1;
}

.card-icon {
  background-color: var(--color1);
  padding: 3px;
  border-radius: 50%;
  opacity: 0.4;
  width: 20px;
  height: 20px;
  transition: 300ms;
}



.card-icon:hover {
  scale: 1.1;
  opacity: 1;
  transition: 500ms;
}


.more-covers {
  background-color: var(--color1);
  position: absolute;
  z-index: 1;
  padding: 0px;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
  max-height: 0;
  overflow: scroll;
  bottom: 50%;
  left: 50%;
  translate: -50% 50%;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142));
  border-radius: 0.3rem;
  justify-content: center;
  opacity: 1;
  transition: all 1000ms;
}

.alt-cover {
  height: 180px;
  margin: 10px;
  opacity: 0;
  object-fit: cover;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142));
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 1000ms;
}

.backdrop {
  height: 100%;
  opacity: 1;
  grid-template-columns: 34ch 34ch 34ch;
  /* padding: 1rem 3rem; */
  justify-content: center;
  overflow: scroll !important;
  gap: minmax(5ch, 10ch);
  margin: 0 60px 0 60px;
  grid-template-rows: 1fr 1fr;
  transition: all 1000ms;
  display: grid;
}


@media screen and (min-width: 1187px) {
  html {
    overflow: auto;
  }

  body {
    height: 100vh;
    width: 100vw;
  }


  .backdrop {
    grid-template-rows: 1fr;
    overflow: hidden;
  }

  .author-info,
  .book-info,
  .other-titles {
    padding: 2rem 0px 0px 0px;
  }

  .close-info {
    translate: 2vw;
  }

}

@media screen and (max-width:1186px) {
  :root {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
  }

  .author-info,
  .book-info {
    padding: 2rem 0px 0px 0px !important;
    margin-bottom: 0;
    overflow: scroll;
  }


  .other-titles {
    width: 68ch !important;
    grid-row: 2;
    grid-column: 1 / 3;
    grid-template-columns: repeat(auto-fill, 140px) !important;
    grid-template-rows: 3em 190px 190px !important;
    row-gap: 1ch;
    overflow: visible;
  }

  .other-titles-title {
    grid-column: 1 / 6 !important;
  }

  .backdrop> :last-child {
    padding-bottom: 100px;
  }

  .backdrop {
    display: grid;
    width: 90%;
    height: fit-content;
    grid-template-columns: 34ch 34ch !important;
    grid-template-rows: 1fr min-content;
    overflow-y: scroll !important;
    overflow-x: hidden;
    margin: auto;
  }

  .close-info {
    translate: 1vw;
  }

}



@media screen and (max-width: 831px) {
  html {
    overflow: auto;
  }

  .backdrop {
    display: block !important;
    margin: auto;
    width: 90%;
    justify-content: center;
    overflow: scroll;
    translate: 10px
  }


  .author-info,
  .book-info,
  .other-titles {
    width: 30ch;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 2rem 0 0 0px !important;
    margin-bottom: 0;
  }

  .about-author-image,
  .about-title-image {
    width: 100%;
    object-fit: cover;
    padding-bottom: 1rem;
    filter: grayscale(1)
  }

  .footer {
    position: fixed !important;
    bottom: 0;
    width: 100%;
  }

  .other-titles {
    width: 30ch !important;
    display: block !important;
    overflow: visible;
  }

  .other-titles-title {
    margin-bottom: 20px;
  }

  .other-titles-img {
    margin-right: 20px;
    margin-bottom: 20px;
    /* border-radius: 0.3rem; */
  }

  .about-author-paragraph {
    max-width: 36ch;
  }

  div.backdrop {
    overflow-x: scroll !important;
  }

  .close-info {
    translate: 0 -0.2rem;
  }

  .card-info {
    display: block !important;
    text-align: center;
  }

  .card-info-thumbnail {
    height: 300px;
    width: 200px !important;
    object-fit: cover;
  }

  .social-icons-container {
    left: 50vw !important;
    bottom: 4rem !important;
    translate: -50% 2.5rem !important;
    flex-direction: row !important;
    gap: 1rem !important;
  }

  .social-icons-anchor {
    display: flex;
    width: auto;
    justify-content: center !important;
    align-items: center;
  }

  .social-icons-container {
    bottom: -1rem !important;
    margin: 0.2rem auto;
    left: 50% !important;
    translate: -50% 2rem !important;
  }
  .textarea-info-paragraph{
    text-align: center;
    min-height: 10rem;
  }
}

@media screen and (max-width: 440px) {

  .author-info,
  .book-info,
  .other-titles {
    padding: 2rem 1rem !important;
    margin-top: 1rem;
  }

  .close-info {
    position: absolute;
    z-index: 10;
    scale: 0.8;
    top: -1rem !important;
    left: -1rem !important;
    padding: 0.4rem;
    margin: 1rem 0;
    scale: 0.6;
  }
}

.author-info,
.book-info,
.other-titles {
  margin-bottom: 50px;
}

.backdrop> :nth-child(2) {
  width: 30ch;
  margin-right: 2ch;
  margin-right: 0;
  justify-content: start;
  padding-bottom: 30px;
}

.backdrop> :nth-child(3) {
  width: 30ch;
  margin-right: 2ch;
  justify-content: start;
}

.backdrop> :nth-child(4) {
  width: 30ch;
  margin-right: 2ch;
  margin-left: 0;
  justify-content: start;
}

.book-info,
.other-titles {
  margin-right: 0;
  /* margin-left: 3ch; */
}

.other-titles {
  margin-left: 0ch;
  width: 30ch;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: start;
}

.about-author-image,
.about-title-image {
  height: 50ch;
  width: 30ch;
  object-fit: cover;
  padding-bottom: 1rem;
  filter: grayscale(1)
}

h1.about-author-title,
h1.about-title-title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

p.about-author-paragraph,
p.about-title-paragraph {
  font-family: helvetica, arial, sans-serif;
  font-weight: 300;

}

.other-titles-img {
  border-radius: 0.3rem;
  max-width: 130px;
  height: 180px;
  object-fit: cover;
  transition: 500ms;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142));
}

.other-titles {
  align-items: start;
  grid-template-rows: repeat(auto-fill, 3em 200px 200px 200px 200px 200px 200px);
  grid-template-columns: 140px 140px;
}

.other-titles-title {
  grid-column: 1/3;
}

.new-book-dialog {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  min-width: fit-content;
  width: 70vw;
  height: 0px;
  background-color: var(--color1);
  border-radius: 0.3rem;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142)) drop-shadow(-1px -2px 1px rgb(255, 255, 255));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  transition: height 1s;
}

input.ask {
  background-color: transparent;
  color: var(--color2);
  font-family: "Italiana", sans-serif;
  font-size: 1.5rem;
  border: none;
  word-wrap: break-word;
  text-align: center;
  min-width: 20ch;
  height: fit-content;
  outline: none;
  visibility: hidden;
  caret-color: var(--color3);
}

.input-check,
.input-cross {
  cursor: pointer;
  transition: 1000ms;
  visibility: hidden;
}


.input-check:hover,
.input-cross:hover {
  scale: 1.3;
}



.grow {
  animation-name: grow;
  animation-duration: 500ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.show {
  animation-name: show;
  animation-duration: 300ms;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes grow {
  from {
    height: 0px;
    padding: 0px;
  }

  to {
    height: 5rem;
    padding: 1rem;
  }
}

@keyframes show {

  to {
    display: block;
    visibility: visible;
  }
}

.new-book-dialog>.covers-wrapper>img.thumbnail {
  height: 180px;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.7rem;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142)) drop-shadow(-1px -2px 1px rgb(255, 255, 255));
}

.grow-more {
  animation-name: grow-more;
  animation-duration: 500ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes grow-more {
  to {
    height: fit-content;
    flex-direction: column;
    padding: 1rem;
  }
}

.new-book-dialog>h1 {
  color: var(--color2);
  font-size: 1.5rem;
  padding: 0.3rem;
}


.covers-wrapper,
.status-wrapper {
  display: block;
  margin: auto;
  text-align: center;
}

.status-wrapper>a {
  cursor: pointer;
  font-size: 1rem;
  transition: 300ms;
}

.status-check,
.status-cross,
.status-middle {
  cursor: pointer;
  transition: 1000ms;
  height: 1rem;
  width: fit-content;
  translate: 0 0.2rem;
  margin-right: 1rem;
  filter: grayscale(1);
  transition: 300ms;
}

.status-check:hover,
.status-cross:hover,
.status-middle:hover,
a.read-status:hover>* {
  filter: grayscale(0);
  transition: 300ms;
}

.status-wrapper {
  display: flex;
  margin: auto;
  height: 2rem;
  margin-top: 0.5rem;
  transition: 300ms;
}

.status-wrapper:hover .read-status:not(:hover) {
  opacity: 0.3;
  transition: 300ms;
}

.status-wrapper>.read-status:hover {
  transition: 300ms;
  scale: 1.1;
  opacity: 1;
  color: var(--color3);
  transition: 300ms;
}



.wrapper {
  opacity: 1;
  transition: translate 2000ms;
  height: 100%;
  width: 200vw;
  max-height: 100vh !important;
  translate: 0 0;
  display: flex;

}

.reset-display {
  position: relative;
  height: 100%;
  width: 50%;
  overflow-y: scroll;
  margin: auto;
  display: flex;
  justify-content: center;
}

html.body.backdrop {
  overflow-y: scroll !important;
}

.outer-status-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status-wrapper {
  scale: 1.2;
  translate: 0.5rem;
}

.status-middle {
  margin-left: 0.2rem;
}

.close-info {
  position: absolute;
  font-size: 2rem;
  z-index: 10;
  margin: 1rem;
  top: 1rem;
  left: -1rem;
  /* background-color: var(--color1);
  border: solid 0.18rem var(--color2); */
  color: var(--color2);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: 300ms;
  cursor: default;
  display: none;
  opacity: 0;
}

.close-info>p {
  translate: 0rem 0.4rem;
  text-align: center;

}

.close-info:hover {
  background-color: var(--color2);
  color: var(--color1);
  cursor: default;
  border-radius: 50%;
}

.pick-cover {
  transition: opacity 700ms;
}

.bg-blur {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: calc(100vh - 45px);
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: hsla(28, 84%, 98%, 0.7);
  backdrop-filter: blur(10px);
  overflow: -moz-hidden-unscrollable;
  opacity: 0;
  transition: 500ms;
}

.social-icons-anchor {
  position: relative;
  height: fit-content;
  overflow: visible;
  margin: auto;
  opacity: 0;
  filter: blur(20px);
  transition: all 1s;
}

.card-info {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: hsla(28, 84%, 98%, 0.4);
  backdrop-filter: blur(20px);
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.142);
  border-radius: 1rem;
  width: 60vw;
  height: min-content;
  max-height: 70vh;
  margin: auto;
  overflow: scroll;
  gap: 0.5rem;
  border: solid 1rem transparent;
}

.card-info-content-right>p {
  font-family: Arial, Helvetica, sans-serif;
}

.card-info-thumbnail {
  margin: 0.5rem;
  max-height: 300px;
  width: 200px;
  align-self: right;
  max-width: calc(100% - 1rem);
  object-fit: cover;
  border-radius: 0.6rem;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142));
}

.card-info-content-right {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: scroll !important;
}

.card-info-content-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-icon {
  height: 2rem;
  cursor: pointer;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.142));
  filter: saturate(0);
}

.social-icon:hover {
  filter: saturate(1);
  scale: 1.1;
}

.social-icons-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  left: -3rem;
  translate: 0 50%;
  bottom: 50%;
  gap: 0.25rem;
  margin-right: 0.5rem;
}

.leave {
  animation-name: leave;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes leave {
  to {
    filter: blur(20px);
    opacity: 0;
  }
}

.textarea-info-paragraph {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;
  border: none;
  outline: none;
  height: 80%;
  resize: none;
}

.temp-thumbnail {
  display: flex;
  height: 200px;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 130px;
  object-fit: cover;
}

.temp-card {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: left;
  height: 220px;
  align-items: flex-end;
  width: 150px;
  transition: width 500ms;
}
.temp-card-2 {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  justify-content: left;
  height: 220px;
  align-items: flex-end;
  width: 150px;
}

.shake {
  animation-name: shake;
  animation-duration: 400ms;
  animation-fill-mode:both;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: rotateZ(0deg)}
  25% { transform: rotateZ(-1deg)}
  50% { transform: rotateZ(0deg)}
  75% { transform: rotateZ(1deg)}
  100% { transform: rotateZ(0deg)}
}
/* 
.thumbnail {
  pointer-events: none;
} */

